<form class="login-container md:pt-10 lg:pt-10 pt-9" autocomplete="on" [formGroup]="formGroup">
  <div>
    <div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Email" autocomplete="email" [formControlName]="'username'">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Email" autocomplete="phone" [formControlName]="'phone'">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'password'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mb-6">
      <div class="flex">
        <div class="w-1/2 text-left">
        </div>
        <div class="login-link w-1/2 text-right">
          <a routerLink="/forgot-password">
            Lupa Kata Sandi?
          </a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="login-btn" (click)="onSubmit()">Sign Up</button>
    </div>
    <div class="mb-6 mt-6">
      <div class="flex items-center">
        <div class="line-divider"></div>
        <span class="text-divider">
          atau daftar dengan
        </span>
        <div class="line-divider"></div>
      </div>
    </div>
    <div>
      <a class="login-btn-sosmed">
        <div class="login-btn-sosmed-icon">
          <img src="/assets/icon/svg/google.svg" alt="">
        </div>
        Masuk dengan Google
      </a>
    </div>
    <div class="mt-4">
      <a class="login-btn-sosmed">
        <div class="login-btn-sosmed-icon">
          <img src="/assets/icon/svg/fb.svg" alt="">
        </div>
        Masuk dengan Facebook
      </a>
    </div>
  </div>



</form>
