<section class="py-1 bg-blueGray-50">
  <div class="w-full lg:w-8/12 px-4 mx-auto mt-6">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
      <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
          <h6 class="text-blueGray-700 text-xl font-bold">
            My account
          </h6>
          <button
            class="bg-indigo-500 text-white active:bg-indigo-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button">
            Update
          </button>
        </div>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form>
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            User Information
          </h6>
          <div class="flex space-x-4 ...">
            <div>

              <img class="inline object-cover w-32 h-28 mr-2 rounded-full"
                src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                alt="Profile image" />
                <label class="block uppercase text-blueGray-600 text-xs font-bold mt-3 cursor-pointer"
                htmlfor="grid-password">
                Upload Avatar
              </label>
            </div>

            <div>
              <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                      Username
                    </label>
                    <mat-form-field class="w-full" appearance="outline">
                      <mat-label>Username</mat-label>
                      <input matInput placeholder="Username">
                    </mat-form-field>
                  </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                      Email address
                    </label>
                    <mat-form-field class="w-full" appearance="outline">
                      <mat-label>Email address</mat-label>
                      <input matInput placeholder="Email address">
                    </mat-form-field>
                  </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                      First Name
                    </label>
                    <mat-form-field class="w-full" appearance="outline">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="First Name">
                    </mat-form-field>
                  </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                  <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                      Last Name
                    </label>
                    <mat-form-field class="w-full" appearance="outline">
                      <mat-label>Last Name</mat-label>
                      <input matInput placeholder="Last Name">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <hr class="mt-6 border-b-1 border-blueGray-300">

          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            Contact Information
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                  Address
                </label>
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput placeholder="Address">
                </mat-form-field>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                  City
                </label>
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="City">
                </mat-form-field>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                  Country
                </label>
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Country</mat-label>
                  <input matInput placeholder="Country">
                </mat-form-field>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                  Postal Code
                </label>
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Postal Code</mat-label>
                  <input matInput placeholder="Postal Code">
                </mat-form-field>
              </div>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300">

          <h6 class="text-blueGray-400 text-sm mt-3 mb-4 font-bold uppercase">
            About Me
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <mat-form-field class="w-full" appearance="outline">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
