<div class="side-left-card relative">
  <div class="side-left-card-fluid-mini-outline absolute md:block lg:block hidden">
    <img src="/assets/icon/svg/micro element - line.svg" alt="">
  </div>
  <div class="side-left-card-fluid-mini-lg absolute md:block lg:block hidden">
    <img src="/assets/icon/svg/micro-element-sm.svg" alt="Micro">
  </div>
  <div class="side-left-card-fluid-mini-md absolute md:block lg:block hidden">
    <img src="/assets/icon/svg/micro-element-sm-purple.svg" alt="">
  </div>
  <div class="side-left-card-fluid-mini-sm absolute md:block lg:block hidden">
    <img src="/assets/icon/svg/micro-element-white.svg" alt="">
  </div>
  <div class="side-left-card-fluid-left absolute md:block lg:block hidden">
    <img src="/assets/icon/svg/fluid.svg" alt="">
  </div>
  <div class="side-left-card-fluid-right absolute md:block lg:block hidden">
    <img src="/assets/icon/svg/fluid-right.svg" alt="Fluid">
  </div>
  <div class="side-left-card-container lg:absolute md:absolute z-1">
    <div class="side-left-card-text-bold mb-2 md:mb-4 lg:mb-4">
      <span class="block">
        {{ heading }}
      </span>
    </div>
    <div class="side-left-card-text">
      <span class="block">
        {{ desc }}
      </span>
    </div>
  </div>
</div>
